<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
	<meta charset="UTF-8">
	{% seo %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#e95420">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	{% include head-custom.html %}
</head>
<body>
	<a id="skip-to-content" href="#content">Skip to the content.</a>

	<header class="page-header" role="banner">
		<h1 class="project-name">{{ site.title }}</h1>
		<h2 class="project-tagline">
			<a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#103;&#111;&#100;&#100;&#97;&#114;&#100;&#46;&#108;&#101;&#119;&#105;&#115;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;" class="email">{% include icons/email.svg.html %}</a>
			<a href="https://www.linkedin.com/in/lewisgoddard/" class="linkedin">{% include icons/brands/linkedin.svg.html %}</a>
			<a href="https://twitter.com/goddardlewis" class="twitter">{% include icons/brands/twitter.svg.html %}</a>
			<a href="https://github.com/lewisgoddard" class="github">{% include icons/brands/github.svg.html %}</a>
			<a href="https://stackexchange.com/users/904259/lewis-goddard?tab=accounts" class="stack-overflow">{% include icons/brands/stack-overflow.svg.html %}</a>
			<a href="https://www.amazon.co.uk/registry/wishlist/3J2YXDTHBEN07/?sort=priority" class="twitter">{% include icons/brands/amazon.svg.html %}</a>
			<a href="https://paypal.me/goddardlewis" class="paypal">{% include icons/brands/paypal.svg.html %}</a>
			<a href="https://www.youtube.com/@goddardawlewis" class="youtube">{% include icons/brands/youtube.svg.html %}</a>
			<a href="https://www.last.fm/user/goddardlewis" class="twitter">{% include icons/brands/lastfm.svg.html %}</a>
		</h2>
	</header>

	{% include navigation.html %}

	<main id="content" class="main-content" role="main">
