<nav>
	<div class="main-content">
		<ol class="breadcrumbs" style="float:left;">
{% if page.layout == 'home' %}
			<li>home
{% else %}
			<li><a href="{{ site.baseurl }}">home</a>
{% endif %}

{% assign crumbs = page.url | split: '/' %}
{% for crumb in crumbs offset: 1 %}
	{% if forloop.last %}
			<li>{{ page.breadcrumb | default: page.title }}
  	{% else %}
			<li><a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' }}</a>
	{% endif %}
{% endfor %}
		</ol>

		<div style="clear:both;"></div>
	</div>
</nav>
